body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(-35deg, #F2E33A, #B042FF);
    min-height: 100vh;
}

.container{
    position: relative;
    margin: auto;
    padding: 10px;
    margin-top: 200px;
    width: 850px;
    color: rgba(79, 73, 73, 0.908);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;

    border-radius: .125em;
}

.container::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -.125em;
    left: -.125em;
    width: calc(100% + .25em);
    height: calc(100% + .25em);
    border-radius: .25em;
    background-image: linear-gradient(45deg, rgba(241, 196, 15, 1), rgba(69, 167, 63, 1), rgba(57, 172, 113, 1),
            rgba(49, 178, 179, 1), rgba(75, 72, 181, 1), rgba(147, 88, 179, 1), rgba(177, 84, 167, 1),
            rgba(174, 68, 84, 1), rgba(177, 84, 167, 1), rgba(147, 88, 179, 1), rgba(75, 72, 181, 1),
            rgba(49, 178, 179, 1), rgba(57, 172, 113, 1), rgba(69, 167, 63, 1), rgba(241, 196, 15, 1));
    background-size: 200%;
    animation: animateborder 50s linear infinite;
    filter: blur(50px);
    opacity: 0.5;
}

.first, .second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@keyframes animateborder {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 800% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}